rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /accounts/{id} {
      allow read, write: if true;
    }
    match /sessions/{id} {
      allow read, write: if true;
    }
    match /verification_tokens/{id} {
      allow read, write: if true;
    }
  }
} 